.bio {
  width: 80%;
}

.fa-github {
  margin-right: 5px;
}

.user-info {
  li {
    line-height: 1.7;
  }
}

.hireable {
  margin-top: 5px;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 40px;
}
